{% extends "index.html" %}
{% block title %}Almacen{% endblock title %}

{% block content %}

<h3> Tambien puede Crear un  <a href={% url 'almacen:laser_create' %}>Nueva Orde de laser</a> </h3>


{% for laser in LaserList %}

<p>
    <li> {{ laser.id }}</li>
    <li> {{ laser.NombreLaser }}</li>
    <li> <a href="{% url 'almacen:laser_detail' laser.id %}">Ver Orden de laser</a></li>
    <li> <a href="{% url 'almacen:laser_update' laser.id %}">Editar Orden de laser</a></li>
    <li> <a href="{% url 'almacen:laser_delete' laser.id %}">ELIMINAR orden de laser</a></li>
    {% empty %}
    <li>Sin Datos</li>
</p>

<a href={% url 'almacen:almacen' %}>Regresar a control de Almacen</a>

{% endfor %}

{% endblock %}