{% extends "index.html" %}
{% block title %}Almacen{% endblock title %}

{% block content %}

<h3> Tambien puede Crear un  <a href={% url 'almacen:tinta_create' %}>Nueva Orde de tinta</a> </h3>


{% for tinta in TintaList %}

<p>
    <li> {{ tinta.id }}</li>
    <li> {{ tinta.Nombretinta }}</li>
    <li> <a href="{% url 'almacen:tinta_detail' tinta.id %}">Ver Orden de tinta</a></li>
    <li> <a href="{% url 'almacen:tinta_update' tinta.id %}">Editar Orden de tinta</a></li>
    <li> <a href="{% url 'almacen:tinta_delete' tinta.id %}">ELIMINAR orden de tinta</a></li>
    {% empty %}
    <li>Sin Datos</li>
</p>

<a href={% url 'almacen:almacen' %}>Regresar a control de Almacen</a>

{% endfor %}

{% endblock %}