{% extends "index.html" %}
{% block title %}Almacen{% endblock title %}

{% block content %}


<h3> Tambien puede Crear un  <a href={% url 'almacen:foil_create' %}>Nueva Orde de foil</a> </h3>


{% for foil in FoilList %}

<p>
    <li> {{ foil.id }}</li>
    <li> {{ foil.NombreFoil }}</li>
    <li> <a href="{% url 'almacen:foil_detail' foil.id %}">Ver Orden de foil</a></li>
    <li> <a href="{% url 'almacen:foil_update' foil.id %}">Editar Orden de foil</a></li>
    <li> <a href="{% url 'almacen:foil_delete' foil.id %}">ELIMINAR orden de foil</a></li>
    {% empty %}
    <li>Sin Datos</li>
</p>

<a href={% url 'almacen:almacen' %}>Regresar a control de Almacen</a>

{% endfor %}

{% endblock %}