{% extends "index.html" %}
{% block title %}Almacen{% endblock title %}

{% block content %}

<h3> Tambien puede Crear un  <a href={% url 'almacen:papel_create' %}>Nueva Orde de papel</a> </h3>


{% for papel in PapelList %}

<p>
    <li> {{ papel.id }}</li>
    <li> {{ papel.Nombrepapel }}</li>
    <li> <a href="{% url 'almacen:papel_detail' papel.id %}">Ver Orden de papel</a></li>
    <li> <a href="{% url 'almacen:papel_update' papel.id %}">Editar Orden de papel</a></li>
    <li> <a href="{% url 'almacen:papel_delete' papel.id %}">ELIMINAR orden de papel</a></li>
    {% empty %}
    <li>Sin Datos</li>
</p>

<a href={% url 'almacen:almacen' %}>Regresar a control de Almacen</a>

{% endfor %}

{% endblock %}