{% comment %} <!DOCTYPE html>
<html lang="es-mx">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor Eticorsa - {% block title %}{% endblock title %}</title>
</head>
<body>
    <h2>Menu</h2>
    <a href="{% url 'almacen:almacen' %}">almacen</a>
<a href="{% url 'envios:envios' %}">envios</a>
<a href="{% url 'pedidos:pedidos' %}">pedidos</a>
<a href="{% url 'produccion:produccion' %}">produccion</a>

<a href="{% url 'logout' %}">Cerrar Sesion</a>

    <h2>Contenido</h2>
    <div>
    {% block content %}
    {% if content is empty %}
    <h2>Aqui van datos cuando no se seleccione una aplicacion</h2>
        {% endif %}
    {% endblock %}
    </div>
    <h2>Footer</h2>

</body>
</html>  {% endcomment %}

<html lang="es-mx">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Servidor Eticorsa • {% block title %}{% endblock title %}</title>
    <!-- CSS files -->
    {% load static %}
    <link href="{% static 'dist/css/tabler.min.css' %}" rel="stylesheet" />
    <link href="{% static 'dist/css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/demo.min.css' %}" rel="stylesheet" />
  </head>
  <body >
    <div class="page">
        {% include "header.html" %}
        {% include "menu.html" %}
        {% block content %}
                {% if content is empty %}
                {% endif %}
        <div class="page-wrapper">
          <div class="container-xl">
            <div class="page-header d-print-none">
              <div class="row g-2 align-items-center">
                <div class="col">
                <h2 class="page-title">Aqui van datos cuando no se seleccione una aplicacion</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="page-body">
            <div class="container-xl">
            </div>
          </div>
        </div>
        {% endblock %}
      
        {% include "footer.html" %}
        
  </body>
</html>