<!DOCTYPE html>
<html lang="es-mx">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor Eticorsa - {% block title %}{% endblock title %}</title>
</head>
<body>
    <h2>Menu</h2>
    <a href="{% url 'almacen:almacen' %}">almacen</a>
<a href="{% url 'envios:envios' %}">envios</a>
<a href="{% url 'pedidos:pedidos' %}">pedidos</a>
<a href="{% url 'produccion:produccion' %}">produccion</a>

<a href="{% url 'logout' %}">Cerrar Sesion</a>

    <h2>Contenido</h2>
    <div>
    {% block content %}
    {% if content is empty %}
    <h2>Aqui van datos cuando no se seleccione una aplicacion</h2>
        {% endif %}
    {% endblock %}
    </div>
    <h2>Footer</h2>

</body>
</html> 