{% extends "index.html" %}
{% block title %}Almacen{% endblock title %}

{% block content %}


<h3> Tambien puede Crear un  <a href={% url 'almacen:laminado_create' %}>Nueva Orde de laminado</a> </h3>


{% for laminado in LaminadoList %}

<p>
    <li> {{ laminado.id }}</li>
    <li> {{ laminado.NombreLaminado }}</li>
    <li> <a href="{% url 'almacen:laminado_detail' laminado.id %}">Ver Orden de laminado</a></li>
    <li> <a href="{% url 'almacen:laminado_update' laminado.id %}">Editar Orden de laminado</a></li>
    <li> <a href="{% url 'almacen:laminado_delete' laminado.id %}">ELIMINAR orden de laminado</a></li>
    {% empty %}
    <li>Sin Datos</li>
</p>

<a href={% url 'almacen:almacen' %}>Regresar a control de Almacen</a>

{% endfor %}
{% endblock %}