{% extends "index.html" %}
{% block title %}Pedidos{% endblock title %}

{% block content %}

<h3> Tambien puede Crear un  <a href={% url 'pedidos:pedidos_create' %}>Nueva Orde de pedidos</a> </h3>


{% for pedidos in OPedidoList %}

<p>
    <li> {{ pedidos.id }}</li>
    <li> {{ pedidos.RegEntrada }}</li>
    <li> {{ pedidos.Cliente }}</li>
    <li> <a href="{% url 'pedidos:pedidos_detail' pedidos.id %}">Ver Orden de pedidos</a></li>
    <li> <a href="{% url 'pedidos:pedidos_update' pedidos.id %}">Editar Orden de pedidos</a></li>
    <li> <a href="{% url 'pedidos:pedidos_delete' pedidos.id %}">ELIMINAR orden de pedidos</a></li>
    {% empty %}
    <li>Sin Datos</li>
</p>

{% endfor %}

{% endblock %}