{% extends "index.html" %}
{% block title %}Almacen{% endblock title %}

{% block content %}

<h3> Tambien puede Crear un  <a href={% url 'almacen:suaje_create' %}>Nueva Orde de suaje</a> </h3>


{% for suaje in SuajeList %}

<p>
    <li> {{ suaje.id }}</li>
    <li> {{ suaje.Nombresuaje }}</li>
    <li> <a href="{% url 'almacen:suaje_detail' suaje.id %}">Ver Orden de suaje</a></li>
    <li> <a href="{% url 'almacen:suaje_update' suaje.id %}">Editar Orden de suaje</a></li>
    <li> <a href="{% url 'almacen:suaje_delete' suaje.id %}">ELIMINAR orden de suaje</a></li>
    {% empty %}
    <li>Sin Datos</li>
</p>

<a href={% url 'almacen:almacen' %}>Regresar a control de Almacen</a>

{% endfor %}

{% endblock %}